@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Muli:300);


body {
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
}

a {
	font-size: 18px;
}

#choice, #login, #register {
    width:459px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button {
	margin-top: 20px;
}

input, textarea, file {
	width:439px;
	height:50px;
	background-color:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:10px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	background-color: #efefef;
}

input:focus, textarea:focus {
	border:1px solid #97d6eb;
}

#submit {
	width:127px;
	height:48px;
	text-align: center;
	border:none;
	margin-top:0px;
	cursor:pointer;
}

#submit:hover {
	color:#fff;
	background-color: #216182;
	opacity:0.9;
}

#status-option {
	width:0px;
	height:0px;
}